body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  margin: 0;
}

header {
  height: 50px;
  background-color: #3d3d3d;
  width: 100%;
  position: relative;
  top: 0%;
}

#logo {
  position: absolute;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  width: 40%;
  margin-left: 30%;
}

.navToggle:checked ~ nav {
  display: block;
}

.navToggle-label:hover {
  cursor: pointer;
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.navToggle {
  display: none;
}

.navToggle-label {
  position: absolute;
  top: 1;
  right: 0;
  margin-right: 1.5em;
  margin-top: 1.5em;
}

.navToggle-label span,
.navToggle-label span::before,
.navToggle-label span::after {
  display: block;
  background: #fff;
  height: 3px;
  width: 2em;
  position: relative;
}

.navToggle-label span::before,
.navToggle-label span::after {
  content: "";
}

.navToggle-label span::before {
  bottom: 7px;
}

.navToggle-label span::after {
  top: 4px;
}

nav a {
  font-size: 18px;
  padding: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #3d3d3d;
  color: #fff;
  margin-left: -40px;
}

li a:hover {
  background-color: #3d4d4d;
}

nav {
  display: none;
  margin-top: 2em;
  position: absolute;
  top: 0%;
  width: 100%;
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.current {
  font-weight: bold;
}
ul {
  list-style: none;
}

@media screen and (min-width: 768px) {
  #logo {
    font-size: 38px;
    margin-top: 8px;
    text-align: left;
    margin-left: 3%;
    width: auto;
  }
  .navToggle-label {
    display: none;
  }
  nav {
    display: inline;
    text-align: end;
    margin-right: 1%;
    position: relative;
  }
  nav a {
    font-size: 22px;
    display: inline;
    margin-right: 18px;
    margin-left: 0px;
  }

  li {
    display: inline;
  }

  header {
    height: 70px;
  }
  li a:hover {
    background-color: #3d3d3d;
  }
}
