body {
  background-color: #3d3d3d;
}

#putterImg {
  background: url(../images/testheader.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 300px;
  width: 100%;
  z-index: -1;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

img {
  width: 100%;
}

.blogContainer {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  height: 40vh;
  margin-top: 20px;
}

.blogCards {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  height: 100%;
  margin-left: 5%;
}

.latestBlog:hover {
  opacity: 0.7;
}

.latestBlog {
  background-color: #fff;
  height: 100%;
}

.arrow {
  font-size: 40px;
  color: white;
  margin: auto;
}

#leftArrow {
  margin-left: 15px;
}

#rightArrow {
  margin-right: 15px;
}

a {
  text-decoration: none;
}

.arrow:hover {
  cursor: pointer;
}

h2 {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #3d3d3d;
}

p {
  text-align: center;
  text-decoration: underline;
  color: #3d3d3d;
  font-size: 16px;
}

.latestBlog {
  width: 100%;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  #putterImg {
    height: 400px;
  }

  .blogContainer {
    grid-template-columns: 1fr 5fr 1fr;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    grid-column-gap: 40px;
    max-width: 1600px;
    margin-bottom: 200px;
    height: 40vh;
  }

  .blogCards {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    height: 100%;
    margin-left: 0%;
  }

  .latestBlog {
    width: 100%;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-weight: normal;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    text-align: center;
    color: #3d3d3d;
  }

  p {
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    color: #3d3d3d;
    bottom: 5%;
  }
  .arrow {
    font-size: 70px;
    color: white;
    position: relative;
    margin: auto;
  }

  .arrow:hover {
    cursor: pointer;
  }

  #leftArrow {
    width: 100%;
    margin-left: 50px;
  }

  #rightArrow {
    margin-right: 50px;
  }

  .loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    width: 60px;
    height: 60px;
    margin-top: 10%;
  }
}

@media screen and (max-width: 1150px) and (min-width: 769px) {
  .blogCards {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }
}
